body {
    background-color: grey;
}
.mainp {
    background-color: white;
    box-shadow: 5px 5px 5px 5px dimgray;
    height: 90vh;
    width: 90vw;
    margin: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
}

.profle{

}